
<div id="page_content">
    <h1 class="sub_header">Challenges</h1>
    <div class="challenge_item">
        <p class="player_name">Kondie</p>
        <input value="Accept" class="btn btn-success" type="button">
        <input value="Decline" class="btn btn-danger" type="button">
    </div>
</div>
<div id="footer">
</div>
