<body>

<div id="page_content">
    <input type="datetime-local" id="play_time" name="play_time" class="form-control" value="2019-02-26T00:00" min="2019-02-26T00:00">
    <input type="button" class="btn btn-success" value="Create event">
    <h1 class="sub_header">Open Events</h1>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
    <div class="board_item">
        <p class="inline_p" >You're going to play with </p>
        <p class="inline_p" class="player_name">Kondie</p>
        <p class="inline_p"> on ...</p>
    </div>
</div>
<div id="footer">

</div>
</body>