<body>

<div id="page_content">
        <h1 class="sub_header">Events</h1>
        <br>
        <hr>
        {{#each player}}
        <div>
      <h1>{{this.Player_1}} VS {{this.Player_2}}  </h1>
     <button type = "info" class = "btn btn-primary"> {{this.GameDate}} at {{this.GameTime}} </button>
       </div>
       <br>
       <hr>
       <hr>
        {{/each}}
</div>
<div id="footer">

</div>
</body>