<body>

<div id="page_content">

        <h1 class="sub_header">Events</h1>
        <br>
        <hr>
        {{#each event}}
         <p style="color:teal"><h1> {{this.eventname}} -- {{this.date}} </h1></p>
           <h2 style = "color:tomato">  {{this.bio}}</h2>
      <p style = "color:cornsilk">  Contact : {{this.organise}} for more information</p>

<button type="button" class="btn btn-primary btn-lg">Join</button>
      <hr>
      <hr>
      <hr> 
        {{/each}}


</div>
 
<form action = "events" method = "Post">
          <div class="col-md-2 register-right">
             <h3 > Create An Event</h3>
             <hr>
  <div class="form-group">
    <label for="exampleFormControlInput1">Event Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name = "name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Number of Players</label>
   <input type = "number" name = "noofplayers" min = "2">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Date</label>
    <input type = "date" name = "date">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name = "info"></textarea>
  </div>
  <button type = "submit" class="btn btn-dark"> Create </button>
  </div>
</form>
<div id="footer">

</div>
</body>