 <body>
        <div id="page_content">
            <div class="jumbotron">
                <h1 class="display-4">BBD Pool</h1>
                {{!-- <p class="lead">Pool is a classification of cue sports played on a table with six pockets along the rails , into which balls are deposited. ... There are also hybrid games combining aspects of both pool and carom billiards,
                     such as American four-ball billiards, bottle pool, cowboy pool, and English billiards...</p> --}}

                     <p> Challenge Your Colleagues </p>
                     <p> Analyze your games</p>
                <hr class="my-4">
                <a class="btn btn-info btn-lg" href="https://en.wikipedia.org/wiki/Pool_(cue_sports)" role="button">Learn more</a>
              </div>
        </div>
        </div>

   

      
    </body>
