 <body>
        <div id="page_content">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to BBD Pool</h1>
                <p class="lead">Pool is a classification of cue sports played on a table with six pockets along the rails , into which balls are deposited. ... There are also hybrid games combining aspects of both pool and carom billiards,
                     such as American four-ball billiards, bottle pool, cowboy pool, and English billiards...</p>
                <hr class="my-4">
                <a class="btn btn-info btn-lg" href="https://en.wikipedia.org/wiki/Pool_(cue_sports)" role="button">Learn more</a>
              </div>

          
            <a href=""><input class="btn btn-primary" id="profile_button" value="Profile" type="button"></a>
            <a href="/leaderboard"><input class="btn btn-primary" id="leader_board_button" value="Leader board" type="button"></a>
            <a href="/events"><input class="btn btn-primary" id="events_button" value="Open events" type="button"></a>
            <a href="/challanges"><input class="btn btn-primary" id="challenges_button" value="Challenges" type="button"></a>
              <link rel="stylesheet" href="style.css">
        </div>
        </div>

   

      
    </body>
